@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to azure app service</h1>
</div>

<div class="container">
    <p>This is a sample paragraph to add some random content to the page.</p>
    <ul>
        <li>Item 1</li>
        <li>Item 2</li>
        <li>Item 3</li>
    </ul>
    <p>Here is another paragraph with some more random content.</p>
</div>
